/*POSICIONAR DIVS*/
section{
    display: flex;
    flex-direction: row;
}
/*CAIXES*/
div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19.8vw;
}
/*TEXT*/
span{
    color: white;
    padding: 15px;
}
/*ENLLAÇ*/
a{
    text-decoration: none;
    margin-top: 20px;
}
/*PASAR A MUNT DEL DIV I FER-HO CREIXER*/
div:hover{
    position: relative;
    bottom: 10px;
    height: 12vh;
    width: 20.5vw;
    transition: 1s;
}
/*COLORS*/
.c1{
    background-color: #23606E;
}
.c2{
    background-color: #FACFCE;
}
.c3{
    background-color: #008F8C;
}
.c4{
    background-color: #015958;
}
.c5{
    background-color: #023535;
}