/*ORDRE DIVS*/
section{
    display: flex;
    flex-direction: column;
}
/*CAIXA DIV*/
div{
    display: flex;
    justify-content: center;
}
/*TEXT*/
span{
    color: white;
    padding: 15px;
}
/*COLORS*/
.c1{
    background-color: #23606E;
}
.c2{
    background-color: #FACFCE;
}
.c3{
    background-color: #008F8C;
}
.c4{
    background-color: #015958;
}
.c5{
    background-color: #023535;
}