/*EXERCICI 7*/
span {
    background-color: rgba(255, 255, 255, .5);
    border-radius: 50%;
    display: block;
    font-size: 1.5em;
    line-height: 3em;
    text-align: center;
    width: 3em;
    height: 3em;
 }
 /*OCULTAR ELS DIVS QUE NO ENS INTERESEN*/
 div{
    display: none;
 }
 /*MOSTRAR ELS QUE SI I DE FORMA CENTRADA*/
 .e7{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    margin: 5px;
 }
 section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
 }
 /*COLORS*/
.c1{
   background-color: #23606E;
}
.c2{
   background-color: #FACFCE;
}
.c3{
   background-color: #008F8C;
}
.c4{
   background-color: #015958;
}
.c5{
   background-color: #023535;
}