@media (prefers-color-scheme: dark) {
    :root{
        /*Variables*/
        --background-color: black;
        --text-color: white;
        /*MAIN*/
        main{
            /*Fons*/
            background-color: var(--background-color);
            /*Color del text*/
            color: var(--text-color);
            /*Borde de les imatges de sobre nosaltres*/
            .img-nosaltres1, .img-nosaltres2{
                border: 3px solid wheat;
                border-radius: 3%;
            }
            /*Bordes del lateral del menu*/
            .elmenu1, .elmenu2{
                border: solid wheat 2px;
            }
        }
    }
}