* {box-sizing: border-box;}
/*Quitem els margens*/
body{
    margin: 0;
    font-family: sans-serif;
}
/*El menu de navegacio*/
nav{
    width: 100%;
    position: sticky;
    top: 0;
    background-color: black;
    z-index: 1;
    height: 100px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: end;
    align-items: center;
    margin-right: 2vw;
    transition: 0.7s ease;
}
/*Contenidors del text*/
nav > div{
    padding-inline: 2vw;
}
/*Text enllaços*/
.nava{
    text-decoration: none;
    color: white;
    font-size: 1.3em;
}
.nava:hover{
    text-decoration: underline;
}