/*Donem format al main*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 11vh;
}
/**/
/*************SOBRE NOSALTRES**************/
/*CAIXA GENERAL (SECTIONS)*/
.sections{
    width: 60vw;
    margin-bottom: 13vh;
}
/*H2 (TOTS)*/
h2{
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 7vh;
}
/*ORDENEM AMB FLOAT*/
#cn1{
    height: 38vh;
}
.img-nosaltres1{
    width: 30%;
    float: left;
}
.info1{
    float: right;
    width: 65%;
    font-size: 0.9em;
}
.img-nosaltres2{
    width: 30%;
    float: right;
}
.info2{
    float: left;
    width: 65%;
    font-size: 0.9em;
}
.img-nosaltres1 > img, .img-nosaltres2 > img{
    width: 100%;
    border-radius: 4%;
}

/******************MENU*****************/
/*CLASSIFIQUEM LES ARIES*/
.menucontainer{
    display: grid;
    grid-template-columns: 11% 43.2% 43.2%;
    grid-template-areas: "elmenu elmenu elmenu"
                         "elmenu1 contm1 contm1"
                         "elmenu1 img1c1 img2c1"
                         "elmenu2 contm2 contm2"
                         "elmenu2 img1c2 img2c2";
    gap: 20px 10px;
}
/*DEFINIM CADA ELEMENT I LA SEVA AREA*/
.elmenu{
    grid-area: elmenu;
    text-align: center;
    background-color: rgb(9, 9, 48);
    color: white;
    padding: 6px;
    font-size: 1.4em;
    font-weight: bold;
}
.elmenu1{
    border: solid black 1px;
    grid-area: elmenu1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contm1{
    grid-area: contm1;
}
.img1c1{
    grid-area: img1c1;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 1%;
}
.img2c1{
    grid-area: img2c1;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 1%;
}
.elmenu2{
    border: solid black 1px;
    grid-area: elmenu2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contm2{
    grid-area: contm2;
}
.img1c2{
    grid-area: img1c2;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 1%;
}
.img2c2{
    grid-area: img2c2;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 1%;
}
.menucontainer > div > img{
    width: 100%;
    height: auto;
    display: block;
}
.menucontainer > div > h4{
    font-size: 1.5em;
    font-weight: bold;
}
.menucontainer  div  span{
    font-size: 1em;
}
.overlay{
    position: absolute; 
    bottom: 0;
    margin-bottom: 1%;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1; 
    width: 98%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding-block: 15px;
    text-align: center;
}
/*Mostrem el nom de cada plat*/
.img1c1 .overlay, .img2c1 .overlay, .img1c2 .overlay, .img2c2 .overlay{
    opacity: 1;
}
/*Afegim un hover per saber quan ets amunt d'un plat*/
.img1c1:hover .overlay, .img2c1:hover .overlay, .img1c2:hover .overlay, .img2c2:hover .overlay{
    font-size: 1.4em;
    transition: 0.5s;
    background: rgba(0, 0, 0, 0.8);
}


/**/
/**************************GALERIA*************************/
.galeria{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px 18px;
    margin-bottom: 100px;
}
.fotogaleria{
    width: 14vw;
}
/*Imatges de la galeria*/
.amanida{
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}
.amanida:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    filter: brightness(80%);
}
.fosc{
    filter: brightness(60%);
}