body{
    margin: 0;
    font-family: sans-serif;
}
header{
    position: sticky;
    top: 0;
    background-color: black;
}
nav{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: end;
    margin-right: 10px;
}
nav > div{
    font-size: 1.3em;
    margin: 10px;
    padding: 5px;
    padding-inline: 2vw;
    color: white;
}
nav > div:hover{
    text-decoration: underline;
}