*{
    margin: 0;
}
header{
    position: sticky;
    top: 0;
}
nav{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: end;
    margin-right: 10px;
}
nav > div{
    font-size: 1.3em;
}
nav > div:hover{
    text-decoration: underline;
}
